<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.2/phpunit.xsd" bootstrap="vendor/autoload.php" colors="true" cacheDirectory=".phpunit.cache">
  <testsuites>
    <testsuite name="All Tests">
      <directory>./tests/MercadoPago</directory>
    </testsuite>
    <testsuite name="Unit Tests">
      <directory>./tests/MercadoPago</directory>
      <exclude>./tests/MercadoPago/Client/Payment/PaymentClientITTest.php</exclude>
      <exclude>./tests/MercadoPago/Client/Cardtoken/CardTokenClientITTest.php</exclude>
      <exclude>./tests/MercadoPago/Client/Paymentmethod/PaymentMethodClientITTest.php</exclude>
    </testsuite>
  </testsuites>
</phpunit>
